In [9]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv(r".\data.csv")

In [11]:
df = df.drop_duplicates()

In [12]:
df = df[df["Gender"] == 'Female']

In [13]:
df.head()

,StudentID,Timestamp,Gender,Age,Specialty,Current_Year_Study,CGPA,Marital_status,Depression,Anxiety,Panic_attack,Treatment
0,1,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
3,4,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
6,7,8/7/2020 12:32,Female,23.0,Pendidikan islam,year 2,3.50 - 4.00,Yes,Yes,No,Yes,No
7,8,8/7/2020 12:33,Female,18.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
8,9,8/7/2020 12:35,Female,19.0,Human Resources,Year 2,2.50 - 2.99,No,No,No,No,No

In [8]:
#Methode 1
def group_by_age(age):
    if age < 20 : 
        return "Teen"
    elif 20 <= age <=23:
        return "Young-adult"
    elif age > 23:
        return "Adult"
    
df["Student-Health"] = df["Age"].apply(group_by_age)

In [14]:
#Methode 2
bins = [15,20,25,float('inf')]
labels = ["15-20","21-25","+25"]
df["Student-Health"] = pd.cut(df["Age"], bins=bins , labels=labels , right=False)