In [41]:
import pandas as pd

In [42]:
df = pd.read_csv(r".\data.csv")

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   StudentID           101 non-null    int64
 1   Timestamp           101 non-null    object
 2   Gender              101 non-null    object
 3   Age                 100 non-null    float64
 4   Specialty           101 non-null    object
 5   Current_Year_Study  101 non-null    object
 6   CGPA                101 non-null    object
 7   Marital_status      101 non-null    object
 8   Depression          101 non-null    object
 9   Anxiety             101 non-null    object
 10  Panic_attack        101 non-null    object
 11  Treatment           101 non-null    object
dtypes: float64(1), int64(1), object(10)
memory usage: 9.6+ KB

In [44]:
df.head()

,StudentID,Timestamp,Gender,Age,Specialty,Current_Year_Study,CGPA,Marital_status,Depression,Anxiety,Panic_attack,Treatment
0,1,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,2,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,3,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,4,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,5,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

In [45]:
df.sample(20)

,StudentID,Timestamp,Gender,Age,Specialty,Current_Year_Study,CGPA,Marital_status,Depression,Anxiety,Panic_attack,Treatment
49,50,8/7/2020 15:18,Female,24.0,BCS,year 3,3.50 - 4.00,No,No,No,Yes,No
94,95,13/07/2020 17:30:44,Female,24.0,Fiqh,Year 3,0 - 1.99,No,No,No,Yes,No
67,68,8/7/2020 18:11,Male,19.0,MHSC,Year 3,3.00 - 3.49,Yes,Yes,No,Yes,No
44,45,8/7/2020 15:08,Male,23.0,TAASL,year 2,3.50 - 4.00,No,No,No,Yes,No
93,94,13/07/2020 16:15:13,Female,18.0,BENL,year 1,3.00 - 3.49,No,Yes,No,No,No
21,22,8/7/2020 13:13,Female,18.0,KOE,Year 2,3.00 - 3.49,No,No,No,No,No
51,52,8/7/2020 15:37,Female,18.0,BCS,year 2,3.50 - 4.00,No,No,Yes,No,No
95,96,13/07/2020 19:08:32,Female,18.0,Islamic Education,year 1,3.50 - 4.00,No,No,No,No,No
41,42,8/7/2020 14:57,Female,22.0,Engineering,year 4,3.50 - 4.00,No,No,No,No,No
26,27,8/7/2020 13:35,Female,19.0,Engineering,year 1,3.50 - 4.00,No,No,No,No,No
50,51,8/7/2020 15:27,Female,23.0,ALA,year 1,2.50 - 2.99,Yes,Yes,No,Yes,Yes
16,17,8/7/2020 12:46,Female,24.0,Accounting,year 3,3.00 - 3.49,No,No,No,No,No
89,90,13/07/2020 11:54:58,Male,24.0,Engineering,Year 2,2.00 - 2.49,No,No,No,Yes,No
13,14,8/7/2020 12:41,Male,19.0,Engineering,year 1,3.00 - 3.49,No,No,No,No,No
56,57,8/7/2020 16:08,Male,23.0,Kirkhs,Year 3,3.50 - 4.00,No,No,No,No,No
29,30,8/7/2020 14:05,Female,24.0,BCS,year 4,3.50 - 4.00,No,No,No,No,No
71,72,8/7/2020 21:21,Female,18.0,Laws,Year 3,3.50 - 4.00,No,No,No,Yes,No
34,35,8/7/2020 14:41,Female,19.0,BIT,year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
81,82,13/07/2020 10:12:18,Female,24.0,Diploma Nursing,year 2,3.50 - 4.00,No,No,No,No,No
90,91,13/07/2020 13:57:11,Female,23.0,DIPLOMA TESL,Year 3,3.50 - 4.00,No,No,No,Yes,No

In [46]:
df.count()

StudentID             101
Timestamp             101
Gender                101
Age                   100
Specialty             101
Current_Year_Study    101
CGPA                  101
Marital_status        101
Depression            101
Anxiety               101
Panic_attack          101
Treatment             101
dtype: int64

In [47]:
df["Age"].unique()

array([18., 21., 19., 22., 23., 20., 24., nan])

In [48]:
#removing dups 
df.drop_duplicates("StudentID")

,StudentID,Timestamp,Gender,Age,Specialty,Current_Year_Study,CGPA,Marital_status,Depression,Anxiety,Panic_attack,Treatment
0,1,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,2,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,3,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,4,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,5,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...
96,97,13/07/2020 19:56:49,Female,21.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
97,98,13/07/2020 21:21:42,Male,18.0,Engineering,Year 2,3.00 - 3.49,No,Yes,Yes,No,No
98,99,13/07/2020 21:22:56,Female,19.0,Nursing,Year 3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,100,13/07/2020 21:23:57,Female,23.0,Pendidikan Islam,year 4,3.50 - 4.00,No,No,No,No,No
100,101,18/07/2020 20:16:21,Male,20.0,Biomedical science,Year 2,3.00 - 3.49,No,No,No,No,No

In [49]:
def group_by_age(age):
    if age < 20 : 
        return "Teen"
    elif 20 <= age <=23:
        return "Young-adult"
    elif age > 23:
        return "Adult"

In [50]:
df["Age_group"] = [group_by_age(i) for i in df["Age"]]

In [51]:
df.sample()

,StudentID,Timestamp,Gender,Age,Specialty,Current_Year_Study,CGPA,Marital_status,Depression,Anxiety,Panic_attack,Treatment,Age_group
32,33,8/7/2020 14:29,Male,19.0,BCS,year 1,3.50 - 4.00,No,No,No,Yes,No,Teen

In [52]:
import sqlite3
con = sqlite3.connect("tutorial.db")

In [53]:
cur = con.cursor()

In [ ]:
cur.execute('''
CREATE TABLE if not exists StudentInfo (
StudentID integer primary key
,Gender Text
,Age Integer"
,Course Text"
,YearOfStudy Text"
,MaritalStatus Text
            ''')
con.commit()

In [65]:
cur.execute('''
CREATE TABLE if not exists StudentMentalHealth (
TimeStamp date,
StudentID integer ,
CGPA float ,
Depression Text,
Anxiety Text,
PanicAtack text,
SeekTreatment text,
foreign key (studentID) references StudentInfo(studentID))
            ''')

con.commit()

In [74]:
df.columns

Index(['StudentID', 'Timestamp', 'Gender', 'Age', 'Specialty',
       'Current_Year_Study', 'CGPA', 'Marital_status', 'Depression', 'Anxiety',
       'Panic_attack', 'Treatment', 'Age_group'],
      dtype='object')

In [68]:
for index, row in df.iterrows():

    cur.execute('''
    insert into StudentInfo(StudentID, Gender,Age,Course,YearOfStudy,MaritalStatus)
    values(?,?,?,?,?,?)''',

    (row['StudentID'], row['Gender'], row['Age'], row['Specialty'], row['Current_Year_Study'], row['Marital_status']
    ))

In [70]:
cur.execute("select * from StudentInfo")

In [71]:
results = cur.fetchall()
for row in results : 
    print(row)

(1, 'Female', 18, 'Engineering', 'year 1', 'No')
(2, 'Male', 21, 'Islamic education', 'year 2', 'No')
(3, 'Male', 19, 'BIT', 'Year 1', 'No')
(4, 'Female', 22, 'Laws', 'year 3', 'Yes')
(5, 'Male', 23, 'Mathemathics', 'year 4', 'No')
(6, 'Male', 19, 'Engineering', 'Year 2', 'No')
(7, 'Female', 23, 'Pendidikan islam', 'year 2', 'Yes')
(8, 'Female', 18, 'BCS', 'year 1', 'No')
(9, 'Female', 19, 'Human Resources', 'Year 2', 'No')
(10, 'Male', 18, 'Irkhs', 'year 1', 'No')
(11, 'Female', 20, 'Psychology', 'year 1', 'No')
(12, 'Female', 24, 'Engineering', 'Year 3', 'Yes')
(13, 'Female', 18, 'BCS', 'year 1', 'No')
(14, 'Male', 19, 'Engineering', 'year 1', 'No')
(15, 'Female', 18, 'KENMS', 'Year 2', 'No')
(16, 'Male', 24, 'BCS', 'Year 3', 'No')
(17, 'Female', 24, 'Accounting', 'year 3', 'No')
(18, 'Female', 24, 'ENM', 'year 4', 'Yes')
(19, 'Female', 20, 'BIT', 'Year 2', 'No')
(20, 'Female', 18, 'Marine science', 'year 2', 'Yes')
(21, 'Female', 19, 'Engineering', 'year 1', 'No')
(22, 'Female', 18, 'KOE', 'Year 2', 'No')
(23, 'Female', 24, 'BCS', 'year 1', 'No')
(24, 'Female', 24, 'Engineering', 'year 1', 'No')
(25, 'Female', 23, 'BCS', 'Year 3', 'No')
(26, 'Female', 18, 'Banking Studies', 'year 1', 'No')
(27, 'Female', 19, 'Engineering', 'year 1', 'No')
(28, 'Male', 18, 'Engineering', 'Year 2', 'Yes')
(29, 'Female', 24, 'BIT', 'Year 3', 'Yes')
(30, 'Female', 24, 'BCS', 'year 4', 'No')
(31, 'Female', 23, 'Business Administration', 'Year 2', 'No')
(32, 'Male', 18, 'BCS', 'year 2', 'No')
(33, 'Male', 19, 'BCS', 'year 1', 'No')
(34, 'Male', 18, 'BCS', 'Year 2', 'Yes')
(35, 'Female', 19, 'BIT', 'year 1', 'No')
(36, 'Female', 18, 'Engineering', 'year 1', 'No')
(37, 'Female', 18, 'Law', 'Year 3', 'No')
(38, 'Female', 19, 'BIT', 'year 1', 'No')
(39, 'Female', 18, 'KIRKHS', 'year 1', 'No')
(40, 'Female', 24, 'Engineering', 'Year 2', 'Yes')
(41, 'Female', 24, 'BIT', 'Year 3', 'No')
(42, 'Female', 22, 'Engineering', 'year 4', 'No')
(43, 'Female', 20, 'Usuluddin', 'year 2', 'No')
(44, 'Male', None, 'BIT', 'year 1', 'No')
(45, 'Male', 23, 'TAASL', 'year 2', 'No')
(46, 'Male', 18, 'BCS', 'year 1', 'No')
(47, 'Female', 19, 'Engineering', 'year 1', 'No')
(48, 'Female', 18, 'Engine', 'year 4', 'No')
(49, 'Male', 24, 'BCS', 'year 2', 'No')
(50, 'Female', 24, 'BCS', 'year 3', 'No')
(51, 'Female', 23, 'ALA', 'year 1', 'Yes')
(52, 'Female', 18, 'BCS', 'year 2', 'No')
(53, 'Female', 19, 'Biomedical science', 'year 3', 'No')
(54, 'Female', 20, 'koe', 'year 3', 'Yes')
(55, 'Female', 19, 'BCS', 'year 1', 'No')
(56, 'Male', 21, 'BCS', 'year 1', 'No')
(57, 'Male', 23, 'Kirkhs', 'Year 3', 'No')
(58, 'Female', 20, 'BENL', 'Year 3', 'No')
(59, 'Female', 18, 'BCS', 'year 1', 'No')
(60, 'Female', 23, 'Benl', 'year 1', 'No')
(61, 'Female', 18, 'IT', 'Year 3', 'No')
(62, 'Female', 19, 'BCS', 'year 1', 'No')
(63, 'Female', 18, 'CTS', 'Year 1', 'No')
(64, 'Female', 24, 'engin', 'year 1', 'No')
(65, 'Female', 24, 'Engine', 'year 1', 'No')
(66, 'Female', 23, 'Econs', 'year 1', 'No')
(67, 'Female', 18, 'KOE', 'Year 3', 'No')
(68, 'Male', 19, 'MHSC', 'Year 3', 'Yes')
(69, 'Female', 18, 'Malcom', 'year 1', 'No')
(70, 'Female', 24, 'Kop', 'year 4', 'No')
(71, 'Female', 24, 'Biomedical science', 'year 1', 'No')
(72, 'Female', 18, 'Laws', 'Year 3', 'No')
(73, 'Female', 19, 'BIT', 'Year 3', 'Yes')
(74, 'Male', 18, 'Biomedical science', 'year 1', 'No')
(75, 'Male', 24, 'BIT', 'Year 3', 'No')
(76, 'Female', 24, 'KOE', 'year 1', 'No')
(77, 'Female', 23, 'Engineering', 'year 1', 'No')
(78, 'Female', 18, 'Human Sciences', 'Year 2', 'No')
(79, 'Female', 19, 'Biotechnology', 'Year 3', 'No')
(80, 'Female', 18, 'Engineering', 'year 4', 'No')
(81, 'Female', 24, 'Communication', 'Year 2', 'Yes')
(82, 'Female', 24, 'Diploma Nursing', 'year 2', 'No')
(83, 'Female', 19, 'Engineering', 'year 1', 'No')
(84, 'Female', 19, 'Pendidikan Islam', 'Year 2', 'No')
(85, 'Male', 23, 'Radiography', 'year 1', 'No')
(86, 'Female', 18, 'psychology', 'year 1', 'No')
(87, 'Female', 19, 'Fiqh fatwa', 'Year 3', 'No')
(88, 'Female', 18, 'psychology', 'year 1', 'No')
(89, 'Male', 24, 'BIT', 'year 1', 'No')
(90, 'Male', 24, 'Engineering', 'Year 2', 'No')
(91, 'Female', 23, 'DIPLOMA TESL', 'Year 3', 'No')
(92, 'Male', 18, 'Koe', 'Year 2', 'No')
(93, 'Female', 19, 'KOE', 'year 2', 'Yes')
(94, 'Female', 18, 'BENL', 'year 1', 'No')
(95, 'Female', 24, 'Fiqh', 'Year 3', 'No')
(96, 'Female', 18, 'Islamic Education', 'year 1', 'No')
(97, 'Female', 21, 'BCS', 'year 1', 'No')
(98, 'Male', 18, 'Engineering', 'Year 2', 'No')
(99, 'Female', 19, 'Nursing', 'Year 3', 'Yes')
(100, 'Female', 23, 'Pendidikan Islam', 'year 4', 'No')
(101, 'Male', 20, 'Biomedical science', 'Year 2', 'No')

In [73]:
df.columns

Index(['StudentID', 'Timestamp', 'Gender', 'Age', 'Specialty',
       'Current_Year_Study', 'CGPA', 'Marital_status', 'Depression', 'Anxiety',
       'Panic_attack', 'Treatment', 'Age_group'],
      dtype='object')

In [ ]:
for index, row in df.iterrows():
    cur.execute('''
    insert into StudentMentalHealth(
                TimeStamp,
                StudentID,
                CGPA,
                Depression,
                Anxiety,
                PanicAtack,
                SeekTreatment)
    values(?,?,?,?,?,?,?)''',

    (row['Timestamp'], row['StudentID'], row['CGPA'], row['Depression'], row['Anxiety'], row['Panic_attack'], row['Treatment']
    ))
con.commit()

In [78]:
cur.execute("select * from StudentMentalHealth")
results = cur.fetchall()
for row in results : 
    print(row)

('8/7/2020 12:02', 1, '3.00 - 3.49', 'Yes', 'No', 'Yes', 'No')
('8/7/2020 12:04', 2, '3.00 - 3.49', 'No', 'Yes', 'No', 'No')
('8/7/2020 12:05', 3, '3.00 - 3.49', 'Yes', 'Yes', 'Yes', 'No')
('8/7/2020 12:06', 4, '3.00 - 3.49', 'Yes', 'No', 'No', 'No')
('8/7/2020 12:13', 5, '3.00 - 3.49', 'No', 'No', 'No', 'No')
('8/7/2020 12:31', 6, '3.50 - 4.00', 'No', 'No', 'Yes', 'No')
('8/7/2020 12:32', 7, '3.50 - 4.00', 'Yes', 'No', 'Yes', 'No')
('8/7/2020 12:33', 8, '3.50 - 4.00', 'No', 'Yes', 'No', 'No')
('8/7/2020 12:35', 9, '2.50 - 2.99', 'No', 'No', 'No', 'No')
('8/7/2020 12:39', 10, '3.50 - 4.00', 'No', 'Yes', 'Yes', 'No')
('8/7/2020 12:39', 11, '3.50 - 4.00', 'No', 'No', 'No', 'No')
('8/7/2020 12:39', 12, '3.50 - 4.00', 'Yes', 'No', 'No', 'No')
('8/7/2020 12:40', 13, '3.00 - 3.49', 'Yes', 'No', 'No', 'No')
('8/7/2020 12:41', 14, '3.00 - 3.49', 'No', 'No', 'No', 'No')
('8/7/2020 12:43', 15, '3.50 - 4.00', 'No', 'Yes', 'No', 'No')
('8/7/2020 12:43', 16, '3.50 - 4.00', 'No', 'No', 'No', 'No')
('8/7/2020 12:46', 17, '3.00 - 3.49', 'No', 'No', 'No', 'No')
('8/7/2020 12:52', 18, '3.00 - 3.49', 'Yes', 'Yes', 'Yes', 'No')
('8/7/2020 13:05', 19, '3.50 - 4.00', 'No', 'Yes', 'No', 'No')
('8/7/2020 13:07', 20, '3.50 - 4.00', 'Yes', 'Yes', 'Yes', 'No')
('8/7/2020 13:12', 21, '3.00 - 3.49', 'No', 'No', 'Yes', 'No')
('8/7/2020 13:13', 22, '3.00 - 3.49', 'No', 'No', 'No', 'No')
('8/7/2020 13:13', 23, '3.50 - 4.00', 'No', 'No', 'No', 'No')
('8/7/2020 13:15', 24, '3.00 - 3.49', 'No', 'No', 'No', 'No')
('8/7/2020 13:17', 25, '3.50 - 4.00', 'Yes', 'Yes', 'Yes', 'No')
('8/7/2020 13:29', 26, '3.50 - 4.00', 'No', 'No', 'No', 'No')
('8/7/2020 13:35', 27, '3.50 - 4.00', 'No', 'No', 'No', 'No')
('8/7/2020 13:41', 28, '3.00 - 3.49', 'Yes', 'Yes', 'No', 'No')
('8/7/2020 13:58', 29, '3.50 - 4.00', 'Yes', 'Yes', 'Yes', 'Yes')
('8/7/2020 14:05', 30, '3.50 - 4.00', 'No', 'No', 'No', 'No')
('8/7/2020 14:27', 31, '3.00 - 3.49', 'No', 'No', 'No', 'No')
('8/7/2020 14:29', 32, '3.00 - 3.49', 'No', 'No', 'No', 'No')
('8/7/2020 14:29', 33, '3.50 - 4.00', 'No', 'No', 'Yes', 'No')
('8/7/2020 14:31', 34, '3.50 - 4.00', 'Yes', 'Yes', 'No', 'Yes')
('8/7/2020 14:41', 35, '3.00 - 3.49', 'Yes', 'Yes', 'Yes', 'No')
('8/7/2020 14:43', 36, '2.00 - 2.49', 'No', 'No', 'No', 'No')
('8/7/2020 14:43', 37, '3.00 - 3.49', 'Yes', 'Yes', 'No', 'No')
('8/7/2020 14:45', 38, '2.50 - 2.99', 'Yes', 'Yes', 'Yes', 'No')
('8/7/2020 14:47', 39, '3.50 - 4.00', 'No', 'No', 'No', 'No')
('8/7/2020 14:56', 40, '2.50 - 2.99', 'Yes', 'No', 'Yes', 'Yes')
('8/7/2020 14:57', 41, '3.00 - 3.49', 'No', 'Yes', 'No', 'No')
('8/7/2020 14:57', 42, '3.50 - 4.00', 'No', 'No', 'No', 'No')
('8/7/2020 14:58', 43, '3.00 - 3.49', 'Yes', 'No', 'No', 'No')
('8/7/2020 15:07', 44, '0 - 1.99', 'No', 'No', 'No', 'No')
('8/7/2020 15:08', 45, '3.50 - 4.00', 'No', 'No', 'Yes', 'No')
('8/7/2020 15:09', 46, '3.50 - 4.00', 'No', 'Yes', 'Yes', 'No')
('8/7/2020 15:12', 47, '3.50 - 4.00', 'No', 'Yes', 'No', 'No')
('8/7/2020 15:14', 48, '3.50 - 4.00', 'No', 'No', 'No', 'No')
('8/7/2020 15:14', 49, '3.00 - 3.49', 'Yes', 'No', 'No', 'No')
('8/7/2020 15:18', 50, '3.50 - 4.00', 'No', 'No', 'Yes', 'No')
('8/7/2020 15:27', 51, '2.50 - 2.99', 'Yes', 'No', 'Yes', 'Yes')
('8/7/2020 15:37', 52, '3.50 - 4.00', 'No', 'Yes', 'No', 'No')
('8/7/2020 15:47', 53, '3.00 - 3.49', 'No', 'No', 'No', 'No')
('8/7/2020 15:48', 54, '3.00 - 3.49', 'Yes', 'Yes', 'Yes', 'No')
('8/7/2020 15:57', 55, '3.50 - 4.00', 'Yes', 'No', 'Yes', 'Yes')
('8/7/2020 15:58', 56, '3.00 - 3.49', 'No', 'No', 'No', 'No')
('8/7/2020 16:08', 57, '3.50 - 4.00', 'No', 'No', 'No', 'No')
('8/7/2020 16:21', 58, '3.00 - 3.49', 'Yes', 'Yes', 'No', 'No')
('8/7/2020 16:22', 59, '3.50 - 4.00', 'No', 'No', 'No', 'No')
('8/7/2020 16:34', 60, '3.00 - 3.49', 'No', 'No', 'No', 'No')
('8/7/2020 16:34', 61, '3.00 - 3.49', 'No', 'No', 'Yes', 'No')
('8/7/2020 16:53', 62, '3.50 - 4.00', 'No', 'No', 'No', 'No')
('8/7/2020 17:05', 63, '3.50 - 4.00', 'No', 'No', 'Yes', 'No')
('8/7/2020 17:37', 64, '3.50 - 4.00', 'No', 'No', 'Yes', 'No')
('8/7/2020 17:46', 65, '3.50 - 4.00', 'No', 'No', 'No', 'No')
('8/7/2020 17:50', 66, '3.50 - 4.00', 'Yes', 'Yes', 'No', 'No')
('8/7/2020 18:10', 67, '3.00 - 3.49', 'No', 'Yes', 'No', 'No')
('8/7/2020 18:11', 68, '3.00 - 3.49', 'Yes', 'No', 'Yes', 'No')
('8/7/2020 19:05', 69, '3.50 - 4.00', 'Yes', 'No', 'No', 'No')
('8/7/2020 19:32', 70, '3.00 - 3.49', 'No', 'Yes', 'No', 'No')
('8/7/2020 20:36', 71, '3.00 - 3.49', 'No', 'No', 'No', 'No')
('8/7/2020 21:21', 72, '3.50 - 4.00', 'No', 'No', 'Yes', 'No')
('8/7/2020 22:35', 73, '3.00 - 3.49', 'Yes', 'No', 'No', 'No')
('9/7/2020 06:57', 74, '0 - 1.99', 'No', 'No', 'No', 'No')
('9/7/2020 11:43', 75, '3.50 - 4.00', 'No', 'Yes', 'No', 'No')
('9/7/2020 11:57', 76, '3.50 - 4.00', 'No', 'Yes', 'Yes', 'No')
('9/7/2020 13:15', 77, '3.00 - 3.49', 'Yes', 'No', 'No', 'No')
('9/7/2020 18:24', 78, '3.00 - 3.49', 'No', 'No', 'Yes', 'No')
('13/07/2020 10:07:32', 79, '0 - 1.99', 'No', 'No', 'No', 'No')
('13/07/2020 10:10:30', 80, '3.50 - 4.00', 'No', 'No', 'No', 'No')
('13/07/2020 10:11:26', 81, '3.50 - 4.00', 'Yes', 'Yes', 'Yes', 'No')
('13/07/2020 10:12:18', 82, '3.50 - 4.00', 'No', 'No', 'No', 'No')
('13/07/2020 10:12:26', 83, '3.00 - 3.49', 'Yes', 'Yes', 'No', 'No')
('13/07/2020 10:12:28', 84, '3.00 - 3.49', 'No', 'No', 'No', 'No')
('13/07/2020 10:14:46', 85, '3.00 - 3.49', 'No', 'No', 'No', 'No')
('13/07/2020 10:33:47', 86, '3.50 - 4.00', 'Yes', 'Yes', 'No', 'Yes')
('13/07/2020 10:34:08', 87, '3.00 - 3.49', 'No', 'No', 'No', 'No')
('13/07/2020 11:46:13', 88, '3.50 - 4.00', 'Yes', 'Yes', 'Yes', 'No')
('13/07/2020 11:49:02', 89, '3.00 - 3.49', 'No', 'Yes', 'No', 'No')
('13/07/2020 11:54:58', 90, '2.00 - 2.49', 'No', 'No', 'Yes', 'No')
('13/07/2020 13:57:11', 91, '3.50 - 4.00', 'No', 'No', 'Yes', 'No')
('13/07/2020 14:38:12', 92, '3.00 - 3.49', 'No', 'Yes', 'No', 'No')
('13/07/2020 14:48:05', 93, '3.00 - 3.49', 'Yes', 'No', 'No', 'No')
('13/07/2020 16:15:13', 94, '3.00 - 3.49', 'Yes', 'No', 'No', 'No')
('13/07/2020 17:30:44', 95, '0 - 1.99', 'No', 'No', 'Yes', 'No')
('13/07/2020 19:08:32', 96, '3.50 - 4.00', 'No', 'No', 'No', 'No')
('13/07/2020 19:56:49', 97, '3.50 - 4.00', 'No', 'Yes', 'No', 'No')
('13/07/2020 21:21:42', 98, '3.00 - 3.49', 'Yes', 'Yes', 'No', 'No')
('13/07/2020 21:22:56', 99, '3.50 - 4.00', 'Yes', 'No', 'Yes', 'No')
('13/07/2020 21:23:57', 100, '3.50 - 4.00', 'No', 'No', 'No', 'No')
('18/07/2020 20:16:21', 101, '3.00 - 3.49', 'No', 'No', 'No', 'No')

In [81]:
cur.execute(''' 
SELECT COUNT(*) AS NbEtudiants
FROM StudentMentalHealth
WHERE Depression = 'Yes'
AND SeekTreatment = 'Yes';
''' )


result = cur.fetchone()
count = result[0]

print("Nombre d'tudiants :", count)

Nombre d'tudiants : 6

In [82]:
cur.execute(''' 
SELECT * 
FROM StudentInfo as SI
JOIN StudentMentalHealth as SMH
ON SMH.StudentID = SI.StudentID
WHERE Depression = 'Yes'
''' )
result = cur.fetchall()
for row in result: 
    print(row)

(1, 'Female', 18, 'Engineering', 'year 1', 'No', '8/7/2020 12:02', 1, '3.00 - 3.49', 'Yes', 'No', 'Yes', 'No')
(3, 'Male', 19, 'BIT', 'Year 1', 'No', '8/7/2020 12:05', 3, '3.00 - 3.49', 'Yes', 'Yes', 'Yes', 'No')
(4, 'Female', 22, 'Laws', 'year 3', 'Yes', '8/7/2020 12:06', 4, '3.00 - 3.49', 'Yes', 'No', 'No', 'No')
(7, 'Female', 23, 'Pendidikan islam', 'year 2', 'Yes', '8/7/2020 12:32', 7, '3.50 - 4.00', 'Yes', 'No', 'Yes', 'No')
(12, 'Female', 24, 'Engineering', 'Year 3', 'Yes', '8/7/2020 12:39', 12, '3.50 - 4.00', 'Yes', 'No', 'No', 'No')
(13, 'Female', 18, 'BCS', 'year 1', 'No', '8/7/2020 12:40', 13, '3.00 - 3.49', 'Yes', 'No', 'No', 'No')
(18, 'Female', 24, 'ENM', 'year 4', 'Yes', '8/7/2020 12:52', 18, '3.00 - 3.49', 'Yes', 'Yes', 'Yes', 'No')
(20, 'Female', 18, 'Marine science', 'year 2', 'Yes', '8/7/2020 13:07', 20, '3.50 - 4.00', 'Yes', 'Yes', 'Yes', 'No')
(25, 'Female', 23, 'BCS', 'Year 3', 'No', '8/7/2020 13:17', 25, '3.50 - 4.00', 'Yes', 'Yes', 'Yes', 'No')
(28, 'Male', 18, 'Engineering', 'Year 2', 'Yes', '8/7/2020 13:41', 28, '3.00 - 3.49', 'Yes', 'Yes', 'No', 'No')
(29, 'Female', 24, 'BIT', 'Year 3', 'Yes', '8/7/2020 13:58', 29, '3.50 - 4.00', 'Yes', 'Yes', 'Yes', 'Yes')
(34, 'Male', 18, 'BCS', 'Year 2', 'Yes', '8/7/2020 14:31', 34, '3.50 - 4.00', 'Yes', 'Yes', 'No', 'Yes')
(35, 'Female', 19, 'BIT', 'year 1', 'No', '8/7/2020 14:41', 35, '3.00 - 3.49', 'Yes', 'Yes', 'Yes', 'No')
(37, 'Female', 18, 'Law', 'Year 3', 'No', '8/7/2020 14:43', 37, '3.00 - 3.49', 'Yes', 'Yes', 'No', 'No')
(38, 'Female', 19, 'BIT', 'year 1', 'No', '8/7/2020 14:45', 38, '2.50 - 2.99', 'Yes', 'Yes', 'Yes', 'No')
(40, 'Female', 24, 'Engineering', 'Year 2', 'Yes', '8/7/2020 14:56', 40, '2.50 - 2.99', 'Yes', 'No', 'Yes', 'Yes')
(43, 'Female', 20, 'Usuluddin', 'year 2', 'No', '8/7/2020 14:58', 43, '3.00 - 3.49', 'Yes', 'No', 'No', 'No')
(49, 'Male', 24, 'BCS', 'year 2', 'No', '8/7/2020 15:14', 49, '3.00 - 3.49', 'Yes', 'No', 'No', 'No')
(51, 'Female', 23, 'ALA', 'year 1', 'Yes', '8/7/2020 15:27', 51, '2.50 - 2.99', 'Yes', 'No', 'Yes', 'Yes')
(54, 'Female', 20, 'koe', 'year 3', 'Yes', '8/7/2020 15:48', 54, '3.00 - 3.49', 'Yes', 'Yes', 'Yes', 'No')
(55, 'Female', 19, 'BCS', 'year 1', 'No', '8/7/2020 15:57', 55, '3.50 - 4.00', 'Yes', 'No', 'Yes', 'Yes')
(58, 'Female', 20, 'BENL', 'Year 3', 'No', '8/7/2020 16:21', 58, '3.00 - 3.49', 'Yes', 'Yes', 'No', 'No')
(66, 'Female', 23, 'Econs', 'year 1', 'No', '8/7/2020 17:50', 66, '3.50 - 4.00', 'Yes', 'Yes', 'No', 'No')
(68, 'Male', 19, 'MHSC', 'Year 3', 'Yes', '8/7/2020 18:11', 68, '3.00 - 3.49', 'Yes', 'No', 'Yes', 'No')
(69, 'Female', 18, 'Malcom', 'year 1', 'No', '8/7/2020 19:05', 69, '3.50 - 4.00', 'Yes', 'No', 'No', 'No')
(73, 'Female', 19, 'BIT', 'Year 3', 'Yes', '8/7/2020 22:35', 73, '3.00 - 3.49', 'Yes', 'No', 'No', 'No')
(77, 'Female', 23, 'Engineering', 'year 1', 'No', '9/7/2020 13:15', 77, '3.00 - 3.49', 'Yes', 'No', 'No', 'No')
(81, 'Female', 24, 'Communication', 'Year 2', 'Yes', '13/07/2020 10:11:26', 81, '3.50 - 4.00', 'Yes', 'Yes', 'Yes', 'No')
(83, 'Female', 19, 'Engineering', 'year 1', 'No', '13/07/2020 10:12:26', 83, '3.00 - 3.49', 'Yes', 'Yes', 'No', 'No')
(86, 'Female', 18, 'psychology', 'year 1', 'No', '13/07/2020 10:33:47', 86, '3.50 - 4.00', 'Yes', 'Yes', 'No', 'Yes')
(88, 'Female', 18, 'psychology', 'year 1', 'No', '13/07/2020 11:46:13', 88, '3.50 - 4.00', 'Yes', 'Yes', 'Yes', 'No')
(93, 'Female', 19, 'KOE', 'year 2', 'Yes', '13/07/2020 14:48:05', 93, '3.00 - 3.49', 'Yes', 'No', 'No', 'No')
(94, 'Female', 18, 'BENL', 'year 1', 'No', '13/07/2020 16:15:13', 94, '3.00 - 3.49', 'Yes', 'No', 'No', 'No')
(98, 'Male', 18, 'Engineering', 'Year 2', 'No', '13/07/2020 21:21:42', 98, '3.00 - 3.49', 'Yes', 'Yes', 'No', 'No')
(99, 'Female', 19, 'Nursing', 'Year 3', 'Yes', '13/07/2020 21:22:56', 99, '3.50 - 4.00', 'Yes', 'No', 'Yes', 'No')

### 4 A

In [93]:
cur.execute(''' 
SELECT Course , 100.0* SUM(CASE when depression = "Yes" then 1 else 0 END) /Count(*) 
FROM StudentInfo as SI
JOIN StudentMentalHealth as SMH
ON SMH.StudentID = SI.StudentID
GROUP BY Course ;
''' )
result = cur.fetchall()

print("SPECIALTY  :\n\t   PERCENTAGE")
for row in result : 
    print(f"{row[0]} \n\t {row[1]}\n\n")

SPECIALTY  :
	   PERCENTAGE
ALA
	 100.0


Accounting
	 0.0


BCS
	 27.77777777777778


BENL
	 100.0


BIT
	 50.0


Banking Studies
	 0.0


Benl
	 0.0


Biomedical science
	 0.0


Biotechnology
	 0.0


Business Administration
	 0.0


CTS
	 0.0


Communication
	 100.0


DIPLOMA TESL
	 0.0


Diploma Nursing
	 0.0


ENM
	 100.0


Econs
	 100.0


Engine
	 0.0


Engineering
	 41.1764705882353


Fiqh
	 0.0


Fiqh fatwa
	 0.0


Human Resources
	 0.0


Human Sciences
	 0.0


IT
	 0.0


Irkhs
	 0.0


Islamic Education
	 0.0


Islamic education
	 0.0


KENMS
	 0.0


KIRKHS
	 0.0


KOE
	 25.0


Kirkhs
	 0.0


Koe
	 0.0


Kop
	 0.0


Law
	 100.0


Laws
	 50.0


MHSC
	 100.0


Malcom
	 100.0


Marine science
	 100.0


Mathemathics
	 0.0


Nursing
	 100.0


Pendidikan Islam
	 0.0


Pendidikan islam
	 100.0


Psychology
	 0.0


Radiography
	 0.0


TAASL
	 0.0


Usuluddin
	 100.0


engin
	 0.0


koe
	 100.0


psychology
	 100.0

In [ ]:
con.close()